# Rust
/target
Cargo.lock
**/*.rs.bk
*.pdb

# Database
*.db
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# User data
my_words.json
custom_*.json
ecdict-sqlite-28/*
ecdict-sqlite-28
